body {
  font-family: "Avenir", Sans-Serif;
}
button {
  background-color: #377aef;
  color: white;
  border: none;
  height: 30px;
  border-radius: 3px;
}
button + button {
  background-color: #444;
}
button:last-of-type {
  background-color: #888;
}
li > button {
  margin: 10px 0px 10px 5px;
}
input {
  height: 30px;
}
